{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Me{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block content %}
<main>
  <section class="page-section">
    <h1>Contact Me</h1>
    <p><strong>Email:</strong> <a href="mailto:Hersheyar@outlook.com">Hersheyar@outlook.com</a></p>
    <p><strong>Phone:</strong> 619-339-3489</p>
    <p><strong>Location:</strong> Stennis Space Center, MS</p>
    <p>I’m always open to new opportunities, freelance work, or collaboration. Feel free to reach out!</p>
  </section>
</main>
{% endblock %}