{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Me{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block content %}
<section class="contact-section center-colum"> 
    <h1>Contact Me</h1>
    
    <form method="post">
        {% csrf_token %}
        <div>
            <label>Name</label>
            {{ form.name }}
        </div>

        <div>
                 <label>Email</label>
            {{ form.email }}
        </div>
        
        <div>
            <label>Message</label>
            {{ form.message }}
            <br />
        </div>
        
        <button type="submit">Send Message</button>
    </form>
</section>
{% endblock %}