{% extends 'base.html' %}
{% load static %}

{% block title %}Education - Andrew Hershey{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/education.css' %}">
{% endblock %}

{% block content %}
<section class="education-section">
    <h1>Education</h1>
    
    <div class="education-cards">
        <a class="education-card education-norwich-card">
            <h2>Norwich University</h2>
            <p class="degree">B.S in Computer Science & Information Systems</p>
            <p class="date">January 2023 – March 2025</p>
        </a>

        <a class="education-card education-sdgku-card">
            <h2>San Diego Global Knowledge University</h2>
            <p class="degree">Full-Stack Development Certification</p>
            <p class="date">October 2024 – May 2025</p>
        </a>

        <a class="education-card education-sdgku-ios-card">
            <h2>San Diego Global Knowledge University</h2>
            <p class="degree">iOS Development Certification</p>
            <p class="date">August 2025 – February 2026</p>
        </a>
    </div>
</section>

<section class="education-section">
    <h1>In Progress</h1>
    
    <div class="education-cards">
        <a class="education-card aws-cert-card">
            <h2>AWS Certifications</h2>
            <p class="degree">Currently preparing for AWS certifications.</p>
            <p class="date status">In Progress</p>
        </a>
    </div>
</section>    
{% endblock %}
