{% extends 'base.html' %}
{% load static %}

{% block title %}Experience{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/experience.css' %}">
{% endblock %}

{% block content %}
<main>
  <section class="experience-section">
    <h1>Experience</h1>
    <div class="experience-cards">

      <a href='{% url 'experience_detail' 'koniag-cloud-engineer' %}' class="experience-cloud-card">
        <h2>Junior Cloud Software Engineer</h2>
        <h4><em>Koniag Government Services – 10/2024–Present</em></h4>
        <p class="read-more">Click to read more</p>
      </a>

      <a href='{% url 'experience_detail' 'devine-software-developer' %}' class="experience-dev-card">
        <h2>Scientific Software Developer</h2>
        <h4><em>Devine Consulting – 09/2023–09/2024</em></h4>
        <p class="read-more">Click to read more</p>
      </a>

      <a href='{% url 'experience_detail' 'aws-intern' %}' class="experience-aws-card">
        <h2>Software Development Engineer Intern</h2>
        <h4><em>Amazon Web Services (AWS) – 06/2023–09/2023</em></h4>
        <p class="read-more">Click to read more</p>
      </a>

    </div>

    <h2 class="other-experience-heading">Other Experience</h2>
    <div class="experience-cards">
      <a class="experience-navy-card">
        <h2>US Navy - 7 Years Active Duty</h2>
        <h4><em>01/2016 – 01/2023</em></h4>
        <p class="read-more">Nothing more to Read</p>
      </a>
    </div>
  </section>
</main>
{% endblock %}