{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Portfolio{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}

{% block content %}
<main>
  <section class="profile-section">
    <div class="profile-image">
      <img src="{% static 'img/homepic.png' %}" alt="Andrew Hershey pic" />
    </div>

    <div class="profile-text">
      <div class="profile-header">
        <h1>Andrew Hershey</h1>
        <h2>Cloud Software Engineer</h2>
        <p>
          I'm a Cloud Software Engineer currently supporting a cloud migration project. With experience in scientific data processing
          and full-stack development, I try to combine technical skills with hands-on knowledge to build efficient,
          scalable, and secure systems in the cloud. I have a bachelor's degree in Computer Science and Information Systems,
          and plan on earning AWS certifications before starting my master's in Information Systems Engineering
          at Johns Hopkins Whiting School of Engineering. I am also a U.S. Navy veteran.
        </p>
         <div class="link-boxes">
          <a href="https://linkedin.com/in/andrew-hershey-dev" target="_blank" class="link-button">LinkedIn Profile</a>
        </div>
      </div>
    </div>
  </section>

  <section class="skills-section">
    <h2 id="skills-toggle" class="collapsible-header">
        <span>>🔒</span> Want to know how I created and deployed this site?
    </h2>
    <div class="skill-grid">
        <div class="skill-row">
            <div class="skill-title">AWS</div>
            <div class="skill-desc">Used AWS for hosting and managing infrastructure, including EC2 for compute, ECR for container images, and associated networking and IAM configurations.</div>
        </div>
        <div class="skill-row">
            <div class="skill-title">Linux</div>
            <div class="skill-desc">Deployed the application on Amazon EC2 instances running Linux-based operating systems.</div>
        </div>
        <div class="skill-row">
            <div class="skill-title">Docker</div>
            <div class="skill-desc">Containerized the Django application using Docker, creating reusable and consistent environments for deployments.</div>
        </div>
        <div class="skill-row">
            <div class="skill-title">GitHub</div>
            <div class="skill-desc">Implemented a GitHub Actions workflow that automatically builds the Docker image for the Django application on every push 
                to the main branch. The workflow authenticates with AWS, pushes the built image to Amazon ECR,
                and then uses AWS Systems Manager to remotely deploy and run the container on an EC2 instance.</div>
        </div>
        <div class="skill-row">
            <div class="skill-title">Django</div>
            <div class="skill-desc">Built the backend of the application using Django (a Python framework), implementing the core logic.</div>
        </div>
        <div class="skill-row">
            <div class="skill-title">HTML</div>
            <div class="skill-desc">Structured the frontend layout using HTML, providing the base for rendering content and user interface components.</div>
        </div>
        <div class="skill-row">
            <div class="skill-title">CSS</div>
            <div class="skill-desc">Styled the application using CSS to create a user-friendly interface.</div>
        </div>
        <div class="skill-row">
            <div class="skill-title">JavaScript</div>
            <div class="skill-desc">I used this for the dropdown carrot you just used and that is it.</div>
        </div>
     </div>
    </section>
</main>
{% endblock %}
