{% extends 'base.html' %}
{% load static %}

{% block title %}Project Portfolio{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}

{% block content %}
<main class="projects-page">

  <div class="projects-header">
    <h1 class="projects-title">Projects</h1>
    <p class="projects-subtitle">This is a selection of the things I've built.
    The list is not long as I spend alot of my time learning to be more useful at work.</p>
  </div>

  <div class="project-grid">
    <div class="project-card">
      <img src="{% static 'img/awsproj.png' %}" alt="Project Screenshot 1" class="project-img">
      <div class="project-desc">
        <h3>Migration Architecture</h3>
        <p>This project showcases the architecture of what I helped create and configure in Our AWS Cloud Environment
           I stood up EC2 instances, configured security groups, IAM ROLES etc. I then configured the linux servers to host Java Web Applications
            to mimic on prem architecture for compatible functionality. Everything you see in the Architecture I helped Configure.</p>
      </div>
    </div>

    <div class="project-card">
      <img src="{% static 'img/personalweb.png' %}" alt="Project Screenshot 2" class="project-img">
      <div class="project-desc">
        <h3>This DJANGO Website Hosted in AWS</h3>
        <p>This is my final project for class, and I chose to build a personal website as a capstone. What makes this project special 
            is how it’s hosted, it became more of a DevOps exercise than just a fullstack build. The site is deployed using GitHub Actions, 
            which automates the Docker image build and pushes it to Amazon ECR, with the container hosted on an EC2 instance.</p>
      </div>
    </div>

    <!-- Repeat for more projects -->

  </div>
</main>
{% endblock %}
