{% extends 'base.html' %}
{% load static %}
{% block title %} New Projects {% endblock title %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/project_new.css' %}">
{% endblock %}

{% block content %}
<section class="new-project-section center-column">
    <h2 class="section-title">New Project</h2>

    <form id="projectForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name }}
        {{ form.description }}
        {{ form.year }}
        {{ form.image }}
        {{ form.repository }}
        {{ form.skill }}
    </form>


</section>
{% endblock content %}