{% extends 'base.html' %}
{% load static %}

{% block title %}Johns Hopkins - Whiting School of Engineering{% endblock %}
{% block body_class %}jhu-background{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/jhu.css' %}">
{% endblock %}

{% block content %}
<main class="jhu-page">
  <!-- Header Section -->
  <div class="jhu-header">
    <h1 class="jhu-title">M.S. Information Systems Engineering</h1>
  </div>

  <!-- Intro Blurb -->
  <div class="jhu-blurb">
    <p>I have been accepted into the M.S. Information Systems Engineering program at the Johns Hopkins Whiting School of Engineering and plan to begin in Fall 2025. I would like to get some AWS CERTS before I start. Below are areas and topics I intend to focus on throughout the program.</p>
  </div>
    
  <!-- Intelligent Systems Engineering Focus Area -->
  <div class="jhu-focus">
    <h2 class="jhu-heading">Focus Area: Intelligent Systems Engineering</h2>
    <div class="jhu-container">
      <div class="skill-card"><p class="skill-title">635.603 - AI/ML Ops</p></div>
      <div class="skill-card"><p class="skill-title">635.627 - Intelligent Decision Support Systems</p></div>
      <div class="skill-card"><p class="skill-title">635.661 - Principles of Human Computer Interaction</p></div>
      <div class="skill-card"><p class="skill-title">635.683 - E-Business: Models, Architecture, Technologies, and Infrastructure</p></div>
      <div class="skill-card"><p class="skill-title">635.782 - Ethics in Intelligent Systems</p></div>
      <div class="skill-card"><p class="skill-title">525.645 - Modern Navigation Systems</p></div>
      <div class="skill-card"><p class="skill-title">525.661 - UAV Systems and Control</p></div>
      <div class="skill-card"><p class="skill-title">525.733 - Deep Learning for Computer Vision</p></div>
      <div class="skill-card"><p class="skill-title">525.786 - Human Robotics Interaction</p></div>
      <div class="skill-card"><p class="skill-title">535.782 - Haptic Applications</p></div>
      <div class="skill-card"><p class="skill-title">585.783 - Intro to Brain-Computer Interfaces</p></div>
      <div class="skill-card"><p class="skill-title">605.613 - Introduction to Robotics</p></div>
      <div class="skill-card"><p class="skill-title">605.645 - Artificial Intelligence</p></div>
      <div class="skill-card"><p class="skill-title">605.649 - Machine Learning</p></div>
      <div class="skill-card"><p class="skill-title">685.621 - Algorithms for Data Science</p></div>
      <div class="skill-card"><p class="skill-title">695.634 - Intelligent Vehicles Cybersecurity</p></div>
      <div class="skill-card"><p class="skill-title">695.715 - Assured Autonomy</p></div>
    </div>
  </div>
</main>
{% endblock %}
