{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    {% block extra_head %}{% endblock %}
</head>
<body>

    <header>
        <div class="navbar">
            <div class="header-right-side">
                <div class="nav-options">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'experience' %}">Experience</a>
                    <a href="{% url 'education' %}">Education</a>
                    <a href="{% url 'project_lists' %}">Projects</a>
                </div>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>
</html>
